{% extends "base.html.twig" %}
{% block title %}
	/ page d'accueil
{% endblock %}
{% block body %}
	<div class="container">
		<div class="jumbotron my-4">
			<h1 class="display-3">SymBnB Site de location entre propriétaires et personnes en déplacement !</h1>
			<p class="lead">Le site qui met les propriétaires et les locataires en relation.</p>
			<hr class="my-4">
			<p>Vous recherchez un appartement ? ça tombe bien nous avons celui qu'il vous faut !</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
			</p>
		</div>
		<h2>Nos appartements stars</h2>
		<div class="row justify-content-around mb-3">
			
				<div class="col-4 my-2">
					<div class="card bg-light border border-dark">
						<div class="card-header text-center rounded">
							3 Chambres à
							<strong>85 &euro; / nuit</strong>
							<div class="my-2"><small>Pas encore noté</small></div>
						</div>
						<img src="https://place-hold.it/400x200" class="img-fluid img-thumbail rounded" style="width:100%; display:block" alt="image de l'appartement">

						<div class="card-body">
							<h4 class="card-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, maxime.</h4>
							<div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, nam! Optio impedit consequuntur perspiciatis exercitationem quisquam quas blanditiis aperiam iusto!</div>
							<a href="#" class="btn btn-primary my-2">Voir l'offre</a>
						</div>
					</div>
				</div>
				<div class="col-4 my-2">
					<div class="card bg-light border border-dark">
						<div class="card-header text-center rounded">
							1 Chambres à
							<strong>128 &euro; / nuit</strong>
							<div class="my-2"><small>Pas encore noté</small></div>
						</div>
						<img src="https://place-hold.it/400x200" class="img-fluid img-thumbail rounded" style="width:100%; display:block" alt="image de l'appartement">

						<div class="card-body">
							<h4 class="card-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, et.</h4>
							<div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, nam! Optio impedit consequuntur perspiciatis exercitationem quisquam quas blanditiis aperiam iusto!</div>
							<a href="#" class="btn btn-primary my-2">Voir l'offre</a>
						</div>
					</div>
				</div>
				<div class="col-4 my-2">
					<div class="card bg-light border border-dark">
						<div class="card-header text-center rounded">
							4 Chambres à
							<strong>97 &euro; / nuit</strong>
							<div class="my-2"><small>Pas encore noté</small></div>
						</div>
						<img src="https://place-hold.it/400x200" class="img-fluid img-thumbail rounded" style="width:100%; display:block" alt="image de l'appartement">

						<div class="card-body">
							<h4 class="card-title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, maxime.</h4>
							<div class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit commodi debitis dignissimos assumenda repellendus, sit quidem eveniet molestiae totam nemo.</div>
							<a href="#" class="btn btn-primary my-2">Voir l'offre</a>
						</div>
					</div>
				</div>
		</div>
		<h2>Nos propriétaires stars</h2>
		<div class="row justify-content-around mb-3">
			<div class="col my-3">
				<div class="card bg-light border border-dark">
					<div class="d-flex card-header align-items-center">
						<img src="https://place-hold.it/64x64" class="float-left mr-3" alt="image propriétaire">
						<h4 class="card-title">Lior Chamla</h4>
					</div>
					<div class="card-body">
						<div class="card-title">
							<h5>Juste trop fun !</h5>
						</div>
						<div class="card-text">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quae sequi impedit sapiente reiciendis adipisci accusamus cupiditate soluta, architecto eaque?</p>
						</div>
						<div class="d-flex justify-content-end">
							<a href="#" class="btn btn-success">Voir le profil</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col my-3">
				<div class="card bg-light border border-dark">
					<div class="d-flex card-header align-items-center">
						<img src="https://place-hold.it/64x64" class="float-left mr-3" alt="image propriétaire">
						<h4 class="card-title">Tex Avry</h4>
					</div>
					<div class="card-body">
						<div class="card-title">
							<h5>Juste trop fun !</h5>
						</div>
						<div class="card-text">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quae sequi impedit sapiente reiciendis adipisci accusamus cupiditate soluta, architecto eaque?</p>
						</div>
						<div class="d-flex justify-content-end">
							<a href="#" class="btn btn-success">Voir le profil</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col my-3">
				<div class="card bg-light border border-dark">
					<div class="d-flex card-header align-items-center">
						<img src="https://place-hold.it/64x64" class="float-left mr-3" alt="image propriétaire">
						<h4 class="card-title">Roger Lourd</h4>
					</div>
					<div class="card-body">
						<div class="card-title">
							<h5>Juste trop fun !</h5>
						</div>
						<div class="card-text">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima quae sequi impedit sapiente reiciendis adipisci accusamus cupiditate soluta, architecto eaque?</p>
						</div>
						<div class="d-flex justify-content-end">
							<a href="#" class="btn btn-success">Voir le profil</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
